# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# macOS
.DS_Store

# PyCharm
.idea/

.pytest_cache
.ruff_cache
secret.txt
project_dump.txt
export.py
# Packaging artifacts
dist/
build/
*.egg-info/

